:root {
  color-scheme: dark;
}

body {
  background-color: var(--mantine-color-dark-8);
  color: var(--mantine-color-white);
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--mantine-color-dark-6);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--mantine-color-dark-4);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--mantine-color-dark-3);
}
